{
  "presets": ["react", "es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./storybook"],
      "alias": {
        "react-mobile-navigation-action-sheet": "./lib/react-mobile-navigation-action-sheet/src",
        "react-mobile-navigation-alert": "./lib/react-mobile-navigation-alert/src",
        "react-mobile-navigation-combobox": "./lib/react-mobile-navigation-combobox/src",
        "react-mobile-navigation-core": "./lib/react-mobile-navigation-core/src",
        "react-mobile-navigation-engine": "./lib/react-mobile-navigation-engine/src"
      }
    }]
  ]
}
